.flex-container{
    background-color: aqua;
    padding: 8px;
    display: block;
    flex-direction: row;
}

.one{
    background-color: red;
    flex: auto;
}

.two{
    background-color: red;
    flex: auto;
}

.three{
    background-color: red;
    flex: auto;
}

.four{
    background-color: red;
    flex: auto;
}